@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.cowboys-blue {
  color: #041e42;
  background-color: #282a96;
}

.glowing-letter {
  background-color: #282a96;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: #fed 1px 0 10px;
}

.rainbow {
  background-image: conic-gradient(red, yellow, green, blue, violet, purple);
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  background-color: lightslategray;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  background-color: burlywood;
  color: darkgreen;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 60px;
  font-weight: 700;
  font-family: "Yellowtail", sans-serif;
}

.didILetter {
  font-size: 30px;
  font-weight: bold;
  color: maroon;
  background-color: burlywood;
  font-style: italic;
  text-decoration: none;
  text-transform: lowercase;
  text-shadow: #fed 1px 0 10px;
  font-family: "Fontdiner Swanky", sans-serif;
}

.didDTwoLetter {
  font-size: 90px;
  font-weight: 400;
  color: #a09120;
  background-color: brown;
  font-style: italic;
  text-decoration: line-through #b0b0b0;
  text-transform: lowercase;
  font-family: "Gorditas", sans-serif;
}

/* THE word */

.theTLetter {
  font-size: 55px;
  font-weight: normal;
  color: lavender;
  background-color: blueviolet;
  text-decoration: underline overline purple;
  text-transform: none;
  font-family: "Ceviche One", sans-serif;
}

.theHLetter {
  font-size: 20px;
  font-weight: normal;
  color: rgb(85, 85, 85);
  background-color: chocolate;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Gorditas", sans-serif;
}

.theELetter {
  font-size: 85px;
  font-weight: normal;
  color: #ff99ff;
  background-color: #98ff98;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mystery Quest", sans-serif;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: 45px;
  font-weight: bold;
  color: navajowhite;
  background-color: olive;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Caesar Dressing", sans-serif;
}

.frontendRLetter {
  font-size: 25px;
  font-weight: 400;
  text-decoration: overline;
  text-transform: none;
  font-family: "Fontdiner Swanky", sans-serif;
}

.frontendOLetter {
  font-size: 100px;
  font-weight: 400;
  text-decoration: overline;
  text-transform: none;
  font-family: "Yellowtail", sans-serif;
}

.frontendNLetter {
  color: red;
  background-color: black;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  font-family: "Raleway Dots", sans-serif;
}

.frontendTLetter {
  font-size: 50px;
  font-weight: normal;
  color: darkcyan;
  background-color: gold;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Mystery Quest", sans-serif;
}

.frontendELetter {
  font-size: 25px;
  font-weight: bold;
  background-image: radial-gradient(#282a56 10%, gold 25%, blue 70%);
}

.frontendNTwoLetter {
  font-size: 95px;
  font-weight: normal;
  text-decoration: underline;
  font-family: "Raleway Dots", sans-serif;
}

.frontendDLetter {
  font-size: 75px;
  font-weight: bold;
  color: olive;
  background-color: navajowhite;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Caesar Dressing", sans-serif;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 80px;
  font-weight: bold;
  color: aquamarine;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fontdiner Swanky", sans-serif;
}

.developerELetter {
  font-size: 75px;
  font-weight: bold;
  color: brown;
  background-color: orange;
  text-decoration: underline overline line-through;
  text-transform: uppercase;
  font-family: "Gorditas", sans-serif;
}

.developerVLetter {
  font-size: 70px;
  font-weight: bold;
  color: coral;
  background-color: rebeccapurple;
  text-decoration: underline line-through;
  text-transform: uppercase;
  font-family: "Gorditas", sans-serif;
}

.developerETwoLetter {
  font-size: 55px;
  font-weight: normal;
  color: darkmagenta;
  background-color: rebeccapurple;
  text-decoration: overline line-through;
  text-transform: uppercase;
  font-family: "Syncopate", sans-serif;
  background-image: linear-gradient(to bottom right, red, yellow);
}

.developerLLetter {
  font-size: 50px;
  font-weight: bold;
  color: darkmagenta;
  background-color: rebeccapurple;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Yellowtail", sans-serif;
  background-image: linear-gradient(to top right, yellow, red);
}

.developerOLetter {
  font-size: 45px;
}

.developerPLetter {
  font-size: 40px;
  font-weight: bold;
  color: firebrick;
  background-color: goldenrod;
  text-decoration: none;
  text-transform: lowercase;
  font-family: sans-serif;
}

.developerEThreeLetter {
  font-size: 35px;
  font-weight: bold;
  color: rgb(221, 29, 29);
  background-color: rgb(255, 189, 23);
  text-decoration: none;
  text-transform: uppercase;
  font-family: serif;
}

.developerRLetter {
  font-size: 25px;
  font-weight: bold;
  color: hotpink;
  background-color: rgb(10, 9, 10);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mystery Quest", serif;
}

/* TAKE word */

.takeTLetter {
  font-size: 100px;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
}

.takeALetter {
  font-size: 60px;
  font-weight: bold;
  color: maroon;
  background-color: burlywood;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: #fed 1px 0 10px;
  font-family: "Noto Sans JP", sans-serif;
}

.takeKLetter {
  font-size: 30px;
  font-weight: bold;
  color: burlywood;
  background-color: maroon;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mystery Quest", sans-serif;
}

.takeELetter {
  font-size: 72px;
  font-weight: bold;
  color: olivedrab;
  background-color: orangered;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mystery Quest", sans-serif;
}

/* UP word */

.upULetter {
  font-size: 72px;
  font-weight: bold;
  color: aliceblue;
  background-color: orangered;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.upPLetter {
  font-size: 50px;
  font-weight: bold;
  color: cornflowerblue;
  background-color: plum;
  text-decoration: none;
  text-transform: none;
  font-family: "Mystery Quest", sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 55px;
  font-weight: normal;
  color: seagreen;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Syncopate", sans-serif;
  background-image: linear-gradient(to top right, red, yellow);
}

.gardeningALetter {
  font-size: 55px;
  font-weight: normal;
  color: black;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Syncopate", sans-serif;
  background-image: linear-gradient(to top left, red, yellow);
}

.gardeningRLetter {
  font-size: 12px;
  font-weight: bold;
  color: aqua;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.gardeningDLetter {
  font-size: 72px;
  font-weight: bold;
  color: green;
  background-color: aqua;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Caesar Dressing", sans-serif;
}

.gardeningELetter {
  font-size: 45px;
  font-weight: normal;
  color: rgb(59, 19, 105);
  background-color: red;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Caesar Dressing", sans-serif;
}

.gardeningNLetter {
  font-size: 85px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.gardeningILetter {
  font-size: 15px;
}

.gardeningNTwoLetter {
  font-size: 45px;
  font-weight: bold;
  color: olivedrab;
  background-color: indianred;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Mystery Quest", sans-serif;
}

.gardeningGTwoLetter {
  font-size: 110px;
  font-weight: normal;
  color: indianred;
  background-color: darkorchid;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "FOntDiner Swanky", sans-serif;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: 50px;
  font-weight: 700;
}

.becauseELetter {
  font-size: 90px;
  font-weight: 400;
  color: #cab61a;
  background-color: brown;
  font-style: italic;
  text-decoration: line-through brown;
  text-transform: lowercase;
  font-family: "Mystery Quest", sans-serif;
}

.becauseCLetter {
  font-size: 35px;
  font-weight: 400;
  color: rgb(203, 247, 11);
  background-color: rgb(7, 64, 66);
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
}

.becauseALetter {
  font-size: 55px;
  font-weight: 400;
  color: tomato;
  background-color: cadetblue;
  font-style: normal;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "MCeviche One", sans-serif;
}

.becauseULetter {
  font-size: 115px;
  font-weight: 400;
  color: rgb(184, 6, 169);
  background-color: rgb(158, 240, 243);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Mystery Quest", sans-serif;
}

.becauseSLetter {
  font-size: 40px;
  font-weight: 400;
  color: rgb(7, 146, 19);
  background-color: rgb(245, 177, 31);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Yellowtail", sans-serif;
}

.becauseETwoLetter {
  font-size: 45px;
  font-weight: 400;
  color: cadetblue;
  background-color: tomato;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Mystery Quest", sans-serif;
}

/* THEY word */

.theyTLetter {
  font-size: 20px;
  font-weight: 400;
  color: crimson;
  background-color: rgb(46, 46, 46);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Caesar Dressing", sans-serif;
}

.theyHLetter {
  font-size: 40px;
  font-weight: 400;
  color: rgb(12, 121, 121);
  background-color: rgb(105, 33, 37);
  font-style: normal;
  text-decoration: underline;
  text-transform: none;
  font-family: "Gorditas", sans-serif;
}

.theyELetter {
  font-size: 60px;
  font-weight: 400;
  color: blueviolet;
  background-color: chocolate;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Piazzolla", sans-serif;
}

.theyYLetter {
  font-size: 120px;
  font-weight: 400;
  color: rgb(7, 146, 19);
  background-color: rgb(245, 177, 31);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Yellowtail", sans-serif;
}

/* WANTED word */

.wantedWLetter {
  font-size: 36px;
  font-weight: 400;
  color: rgb(87, 89, 190);
  background-color: rgb(80, 205, 255);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Gorditas", sans-serif;
}

.wantedALetter {
  font-size: 72px;
  font-weight: 400;
  color: rgb(196, 31, 31);
  background-color: rgb(243, 247, 13);
  font-style: normal;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Yellowtail", sans-serif;
}

.wantedNLetter {
  font-size: 24px;
  font-weight: 400;
  color: rgb(172, 10, 221);
  background-color: rgb(175, 233, 120);
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mystery Quest", sans-serif;
}

.wantedTLetter {
  font-size: 85px;
  font-weight: 400;
  color: rgb(220, 255, 19);
  background-color: rgb(105, 109, 172);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Caesar Dressing", sans-serif;
}

.wantedELetter {
  font-size: 50px;
  font-weight: bold;
  color: rgb(40, 86, 107);
  background-color: rgb(245, 177, 31);
  font-style: normal;
  text-decoration: overline underline;
  text-transform: none;
  font-family: "Raleway Dots", sans-serif;
}

.wantedDLetter {
  font-size: 120px;
  font-weight: 400;
  color: rgb(219, 153, 53);
  background-color: rgb(142, 27, 177);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Fontdiner Swanky", sans-serif;
}

/* TO word */

.toTLetter {
  font-size: 120px;
  font-weight: 400;
  color: rgb(95, 245, 175);
  background-color: rgb(245, 95, 172);
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Ceviche One", sans-serif;
  border-radius: 20px;
}

.toOLetter {
  font-size: 80px;
  font-weight: 400;
  color: #162add;
  background-color: #ddc916;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Mystery Quest", sans-serif;
}

/* IMPROVE word */

.improveILetter {
  font-size: 150px;
  font-weight: 400;
  color: #F5B901;
  background-color:#060606;
  text-shadow: #AB0A00 -5px 2px 20px, #AB0A00 5px 2px 20px;
  border-radius: 65px;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  font-family: "Ceviche One", sans-serif;
}

.improveMLetter {
}

.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
